<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>输入贷款信息</title>
</head>
<body>
<h3>输入贷款信息</h3>
<div>
    <form method="post" th:object="${loanReceiptInput}" th:action="@{/user/loanReceiptRegister}">
        <p>身份证:<input type="text" th:field="*{idcard}" id="idcard" name="idcard"/></p>
        <p>借款日期:<input type="text" th:field="*{loandate}" id="loandate" name="loandate"/></p>
        <p>借款金额:<input type="text" th:field="*{loanAmt}" id="loanAmt" name="loanAmt"/></p>
        <p>贷款日利率:<input type="text" th:field="*{loanInterest}" id="loanInterest" name="loanInterest"/></p>
        <p><input type="submit" value="提交"/></p>
    </form>
</div>
</body>
</html>
